.App {
  text-align: center;
  background-color: rgb(229, 238, 243);
}

.App-header {
  background-color: #282c34;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.campaign {
  border: blue 10px;
  padding: 50px;
}

.horizontal-campaign-header {
  display: flex;
  font-weight: bold;
  flex-direction: row;
}

.campaign-vertical-subheader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.campaign-payPerInstall {
  border: 10px;
  color: green;
}

.campaign-image-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.campaign-icon {
  border-radius: 10px;
  padding: 10px;
}

.media-image-div {
  padding: 10px;
  max-width: 120px;
  border-radius: 10px;
  overflow-x: hidden !important;
}

.media-image {
  position: relative;
  border-radius: 10px;
  height: 200px;
}

.play-button-overlay {
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  text-align: center;
  position: sticky;
  z-index: 2;
  height: 32px;
  width: 32px;
}

.media-image:hover .play-button-overlay {
  opacity: 1;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  opacity: 50%;
}

.share-button {
  cursor: pointer;
}